[project]
name = "project-dashboard-v2"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi>=0.129.0",
    "fastmcp>=2.14.3",
    "flask>=3.1.2",
]
